// Specific CSS for your home-page

// For Value Props
.image-value-prop {
  width: 20%;
  display:block;
  margin-left: 40%;
  margin-top: 10%;
  margin-bottom: 3%;
}

.card.valueprop {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 50px;
  opacity: 0.9;
  height:150px auto;
  width: 101%;
  max-width: 400px;
  display: flex;
  align-content: stretch;
  margin: 1% auto;
 }

.card.valueprop h5, .card.valueprop p, .container-fluid-valuepropbox h3 {
  text-align: center;
  margin: 2%;
}

// For route cards
.card-group-landing h3 {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  margin: 2%;
}
.card-img-landing {
  width: 100%;
  display: flex;
  margin: auto;
  align-items: stretch;
}

.card-landing {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  height: 220px;
  width: 100%;
 }


.card-title {
  position: relative;
  padding: 0px;
  margin: 0px;
}

.card-avatar {
  position: absolute;
  top: 45px;
  right: 5px;
}

.card-landing .btn {
  display: flex;
  align-items: stretch;
}

.card-landing .btn a {
  color:white;
  margin-left: 30%;
}


// For editorial

.card-group.editorial {
  background-color: #40484E;
}


 .editorial h5, .editorial h3 {
  display: block;
  margin: auto;
  color: white;
  width: 100%;
  text-align: center;
}

.editorial h3 {
  margin: 2%;
}

.editorial .container {
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  height: 700px;
  display: flex;
  flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
  justify-content: center;
  color: white;
  text-align: center;
}

.editorial .item {
  display: flex;
  align-items: stretch;
  margin: 1%;
  height: 150px;
  width: 31%;
  border-radius: 15px;
  box-shadow: 2px 2px #40484E;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://source.unsplash.com/1080x720/?bakery,singapore");
}

 .editorial .item:nth-child(2) {
  display: flex;
  align-items: stretch;
  height: 450px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://source.unsplash.com/900x600/?cafe,market,singapore");
  border-radius: 15px;
  width: 31%;
  box-shadow: 2px 2px #40484E;
}

.editorial .item:nth-child(3) {
  height: 650px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://source.unsplash.com/1080x720/?Singapore,hawker");
  border-radius: 15px;
  width: 31%;
  display: flex;
  align-items: stretch;
}

.editorial .item:nth-child(4) {
  height: 420px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://source.unsplash.com/900x600/?cycle,singapore");
  border-radius: 15px;
  width: 31%;
  display: flex;
  align-items: stretch;
}

.editorial .item:nth-child(5) {
  height: 180px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://source.unsplash.com/900x600/?singapore,cafe");
  border-radius: 15px;
  width: 31%;
  display: flex;
  align-items: stretch;
}
