.journey-create-name {
  font-size: 25px;
  font-weight: bold;
  margin-top: 19px;
}

.filter-parent {
  position: relative;
}

.filter {
  position: absolute;
  bottom: 3px;
  right: 1px;
}

#drop-down-filter {
  height: 250px;
}


.journey_listings {
  display: none;
}

