<!-- BANNER -->
<div class="row justify-content-center">
  <div class="col-xl-12">

    <div id="Welcome" class="tabcontent" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1617006163622-af60e9ce16b9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)">
      <h1>Explore Singapore on bicycle</h1>
      <p>Discover the sights and eats of Singapore.</p>

      <!-- SEARCH FORM -->
      <div class="row justify-content-center">
        <form class="form-inline" action="/listings">
          <label for="start" style="color:white; padding:5px; opacity: 0.9">Start</label>
          <input type="text"class="form-control mr-xl-2" id="start" name="start" required minlength="3"></input>
          <label for="end" style="color:white; padding:5px; opacity: 0.9">End</label>
          <input type="text" class="form-control mr-xl-2" id="end" name="end" required minlength="3"></input>
          <button class="btn btn-success my-2 my-sm-0" type="submit">Let's go!</button>
        </form>
      </div>

    <!-- BANNER TABS x 4 -->

    <div id="tab1" class="tabcontent" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?bicycle,cafe,fund)">
      <h1>See all journeys</h1>
      <p>Be inspired by some of the most interesting routes created by our riders!</p>
      <a href="/journeys" style="width: 100%">Let's ride!</a>
    </div>

    <div id="tab2" class="tabcontent" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?merlon,singapore,city)">
      <h1>Support Local</h1>
      <p>Check out all the yummlicious makans in our local hawker centers! </p>
    </div>

    <div id="tab3" class="tabcontent" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?singapore,nightscape,city)">
      <h1>The amazing nightscape of Singapore skyline</h1>
      <p>Let's go when the clock strikes twelve!</p>
    </div>

  </div>
</div>

<button class="tablink" onclick="openTab('Welcome', this, 'red')" id="defaultOpen">RideNow!</button>
<button class="tablink" onclick="openTab('tab1', this, 'green')">All Routes</button>
<button class="tablink" onclick="openTab('tab2', this, 'blue')">Support Local</button>
<button class="tablink" onclick="openTab('tab3', this, 'orange')">Nightscape</button>


<script>
  function openTab(tabName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(tabName).style.display = "block";
    elmnt.style.backgroundColor = color;

  }
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
    </script>


