<div class="col-sm-4">


<!-- MOCK LANDING CARD 1-->
<div class="card">
  <img src="https://source.unsplash.com/1600x900/?singapore,city,bicycle">
  <div class="card-infos">
    <h2 class="card-title">Route title</h2>
    <p class="card-infos">15km</p>
    <p class="card-infos">Location</p>
  </div>
  <h2 class="card-heart"> 15 </h2>
  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered"/>
</div>

</div>

<!-- MOCK LANDING CARD 2-->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://source.unsplash.com/1600x900/?singapore,city,bicycle">
  <div class="card-body">
    <h5 class="card-title">Route title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<!-- MOCK LANDING CARD 3-->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://source.unsplash.com/1600x900/?singapore,city,bicycle">
  <div class="card-body">
    <h5 class="card-title">Route title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<!-- MOCK LANDING CARD 4-->
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://source.unsplash.com/1600x900/?singapore,city,bicycle">
  <div class="card-body">
    <h5 class="card-title">Route title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

