<div class="row">

  <div class="col-lg-12" style="margin-top: 20px">
    <h5>Our recommended routes</h5>
  </div>


 <div class="card-group" style="margin-top: 20px">

  <!-- LIST ALL PUBLIC ROUTES - PRIVACY FALSE -->

  <% @journeys.where(privacy: false).each do |listing| %>

  <div class="col-lg-3">
    <div class="card" style="margin-bottom: 7px">
      <img class="card-img-top" src="https://source.unsplash.com/1600x900/?Location,city,singapore">
      <div class="card-body">
        <h6 class="card-title">
          <%= listing.name %>
        </h6>
        <p>
          From: <%= listing.origin %> </br>
          To: <%= listing.destination %>
        </p>
        <div class="card-text">
          <% user = User.find(listing.user_id)%>
           <%= render "shared/user-avatar", user: user %>

        </div>
      </div>
      <div class="card-footer">
        link_to
      </div>
    </div>
  </div>


  <% end %>

</div>




</div>

