<div class="card-small-body" style="vertical-align: text-bottom;">
  <strong><%= link_to listing.name %></strong>
  <div class="card-small-text">
    <small><%= listing.categories %></small>
    <p>$<%= listing.description %></p>
  </div>
</div>

