
<div class="col-xl-12">
  <h5>Inspiration from our Editors</h5>
</div>



<div class="card-group editorial">

  <!-- MOCK LANDING CARD 1-->

  <div class="col-xl-3">
    <div class="card editorial">
      <img class="card-img-top" src="https://source.unsplash.com/1600x900/?Location,city,singapore">
      <div class="card-body">
        <h5 class="card-title">Katong</h5>
        <div class="card-text">
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-avatar avatar-bordered" />
          <p><small>Be charmed by the quaint enclave</small></p>
        </div>
      </div>
    </div>
  </div>

  <!-- MOCK LANDING CARD 2-->

  <div class="col-xl-3">
    <div class="card editorial">
      <img class="card-img-top" src="https://source.unsplash.com/1600x900/?cafe,food,singapore">
      <div class="card-body">
        <h5 class="card-title">Support Local</h5>
        <div class="card-text">
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-avatar avatar-bordered" />
          <p><small>The best makans at Maxwell Market</small></p>
        </div>
      </div>
    </div>
  </div>

  <!-- MOCK LANDING CARD 3-->

  <div class="col-xl-3">
    <div class="card editorial">
      <img class="card-img-top" src="https://source.unsplash.com/1600x900/?cafe,bicycle,singapore">
      <div class="card-body">
        <h5 class="card-title">Route title</h5>
        <div class="card-text">
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-avatar avatar-bordered" />
          <p><small>Lorem ipsum dolor sit amet consectetur.</small></p>
        </div>
      </div>
    </div>
  </div>

  <!-- MOCK LANDING CARD 4-->

  <div class="col-xl-3">
    <div class="card editorial">
      <img class="card-img-top" src="https://source.unsplash.com/1600x900/?cafe,bicycle,singapore">
      <div class="card-body">
        <h5 class="card-title">Route title</h5>
        <div class="card-text">
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-avatar avatar-bordered" />
          <p><small>Lorem ipsum dolor sit amet consectetur.</small></p>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

