

  <div class="card-group editorial">
    <div class="col-xl-12">
    <h3>Inspiration from our Editors</h3>
  </div>

  <!-- MOCK LANDING CARD 1-->

<div class="container">
    <div class="item">
      <h5 class="card-title">Katong</h5>
    </div>

  <!-- MOCK LANDING CARD 2-->

    <div class="item">
      <h5 class="card-title">Monuments</h5>
    </div>
  <!-- MOCK LANDING CARD 3-->

    <div class="item">
        <h5 class="card-title">Hawkers</h5>
    </div>

  <!-- MOCK LANDING CARD 4-->

    <div class="item">
        <h5 class="card-title">Cafes</h5>
    </div>


  <!-- MOCK LANDING CARD 5-->

    <div class="item">
        <h5 class="card-title">Fastfoood</h5>
    </div>
  </div>
</div>


