<div class="info-window">
  <h5><%= listing.category.name %></h5>
  <h6><%= listing.name %></h6>

  <p> <%= listing.description %> </p>
  <p><strong> Rating: <%= listing.rating %> </strong></p>

</div>
