<div class="row justify-content-center">
  <div class="col-xl-12">

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
    url(https://images.unsplash.com/photo-1605214104310-e8eeaf317e8c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1141&q=900">
    <h1>Get on your bike and start exploration today!</h1>
    <p>The best sights and eats in Singapore awaits</p>
     </div>
</div>
</div>
