<div class="container-fluid-valuepropbox">
  <div class="col-xl-12 card-deck">

   <div class="col-xl-3">
    <div class="card valueprop">
        <img class="image-value-prop" src="https://cdn2.iconfinder.com/data/icons/green-style/30/icon_search-512.png">
        <div class="card-text">
          <h5 class="card-title">Search</h5>
          <p>Pick your itinerary from thousands of eats & sights options</p>
        </div>
    </div>
  </div>

 <div class="col-xl-3">
  <div class="card valueprop">
    <img class="image-value-prop" src="https://cdn2.iconfinder.com/data/icons/green-style/30/icon_camera-512.png">
      <div class="card-text">
        <h5 class="card-title">Explore</h5>
        <p>Customized cycling routes for (re)discovering Singapore</p>
      </div>
   </div>
 </div>

<div class="col-xl-3">
  <div class="card valueprop">
    <img class="image-value-prop" src="https://cdn2.iconfinder.com/data/icons/green-style/30/icon_phone-512.png">
      <div class="card-text">
        <h5 class="card-title">Share</h5>
        <p>Don't say #bojio. Invite your pals for the next ride</p>
      </div>
    </div>
</div>

<div class="col-xl-3">
  <div class="card valueprop">
    <img class="image-value-prop" src="https://cdn2.iconfinder.com/data/icons/green-style/30/icon_heart-512.png">
        <div class="card-text">
          <h5 class="card-title">Support Local</h5>
          <p>Send your love to local F&B. Keep the kampung spirit alive</p>
      </div>
    </div>
  </div>
</div>
</div>

