<div class="container-fluid valuepropbox">

  <div class="col-xl-12 card-deck">

   <div class="col-xl-3">
    <div class="card valueprop">
      <div class="card-body">
       <p class="card-text">Find all the Eats.</p>
     </div>
   </div>
 </div>

 <div class="col-xl-3">
  <div class="card valueprop">
    <div class="card-body">
      <p class="card-text">Visit all the Sights</p>
   </div>
 </div>
</div>

<div class="col-xl-3">
  <div class="card valueprop">
    <div class="card-body">
     <p class="card-text">Jio all your friends.</p>
   </div>
 </div>
</div>

<div class="col-xl-3">
  <div class="card valueprop">
    <div class="card-body">
     <p class="card-text">Explore Singapore!</p>
   </div>
 </div>
</div>

</div>

</div>

