<div class="container-fluid-valuepropbox">
<h3>Ah Shiok!</h3>
  <div class="col-xl-12 card-deck">

   <div class="col-xl-3">
    <div class="card valueprop">
        <img class="image-value-prop" src="https://cdn2.iconfinder.com/data/icons/green-style/30/icon_search-512.png">
        <h5 class="card-title">Search</h5>
        <p>Whether riding solo or with friends, you've got options. Tap on start journey to explore Singapore</p>
    </div>
  </div>

 <div class="col-xl-3">
  <div class="card valueprop">
    <img class="image-value-prop" src="https://cdn2.iconfinder.com/data/icons/green-style/30/icon_camera-512.png">
      <div class="card-text">
        <h5 class="card-title">Explore</h5>
        <p>Select your Sights and Eats options and leave it up to us for finding the best bike route in Singapore</p>
      </div>
   </div>
 </div>

<div class="col-xl-3">
  <div class="card valueprop">
    <img class="image-value-prop" src="https://cdn2.iconfinder.com/data/icons/green-style/30/icon_phone-512.png">
      <div class="card-text">
        <h5 class="card-title">Share</h5>
        <p>Share the route to your friends and family on Social Media</p>
      </div>
    </div>
</div>

<div class="col-xl-3">
  <div class="card valueprop">
    <img class="image-value-prop" src="https://cdn2.iconfinder.com/data/icons/green-style/30/icon_heart-512.png">
        <div class="card-text">
          <h5 class="card-title">Support Local</h5>
          <p>Go local and select Hawkers from Tag options to find our vast variety of selection</p>
      </div>
    </div>
  </div>
</div>

