<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your RideNow Journey</title>
</head>
<body>

  <p>
  Hello <%= @journey.user.username %>,
  Enjoy your journey!


</p>


</body>
</html>



