.card {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.card-no-shadow {
  background: grey;
}

.card-text {
  position: relative;
}

.card-text .card-avatar {
  position: absolute;
  top: -80px;
  right: 10px;
}

