.container_fluid {
  // margin-left: 100px;
  // margin-right: 100px
}

.container_fluid.valuepropbox {
  padding-top: 20px;
  padding-bottom: 20px;
}

.col-xl-12.editorial {
  background-color: #3F484F;
}

.row.icons {
  margin-top: 50px;
}

.container.editorial-h {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}
