h1, h2, h3, h4, h5, h6 {
  color: white;
}

.editorial h1, h2, h3, h4, h5, h6 {
  color: black;
  margin-top: 20px;
}

.col-xl-4 h3 {
  margin-left: 10px;
}

.col-xl-6 h5 {
  color: white;

}

.editorial .col-xl-3 h5
{
  color: white;
}
