.open-form {
  cursor: pointer;
  opacity: 0.8;
  border: none;
  background-color: grey;
  font-size: 12px;
}

.form-popup {
  display: none;
}

.form-popup > label {
  color: grey;
  padding: 5px;
  opacity: 0.9;
  font-size: 12px;
}

.form-popup .btn {
  color: grey;
  padding: 0px;
  font-size: 12px;
}

.btn:hover {
  opacity: 1;
  color: #CC2936;
}
