.route-tile {
  padding: 5px;
  margin: 7px;

  &.category-eats {
    background-color:#ffddc6;
  }

  &.category-sights {
    background-color:#ffe2e8;
  }
}

.routes-grid.listings {
  display: block;
  color: white;
  padding: 100px;
}

.route-tile.listings {
  background-color:white;
  padding:5px;
  margin: 7px;
  border-radius: 15px;
}
