.navbar-lewagon {
  background: white;
  text-align: center;
  position: relative;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.text-right {
  display: flex;
  justify-content: center;
}

.card-search {
  margin-top: 20px;
}

.container-search {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0px;
  left: 45.2%;
}

.search-input> label, .search-input>input  {
  color: gray;
  opacity: 0.9;
  font-size: 17px;
}

.search-input >input {
  margin-right:10px;
}
