.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.form-group-search {
  display: inline-block;
}

.card-search {
  margin-top: 20px;
}

.collapse-search {
  max-height: 70px;
  max-width: 550px;
  border-radius: 2%;
}

.form-group-search > label, .form-group-search >input  {
  color: gray;
  padding: 3px;
  opacity: 0.9;
  font-size: 15px;
}

.form-group-search >input {
    margin-right: 10px;
}

.form-group-search.btn {
   padding: 5px;
   padding-right: 5px;
   padding-left: 5px;
}
